extends ../layout

block content
  
  - function popover(n, r) {
  - var html = "<div class='row-fluid'><div class='span3'><span class='label btn-block' style='text-align: right'>" + n + "</span></div><div class='span8'>" + r + "</div></div>"
  - return html;
  - }

  p.well.well-small(style="text-align: center")
    button.close(type='button', data-dismiss='alert') ×
    | Se encontraron 
    b= items.length
    |  solicitudes
  - if (items.length > 0) {
    table.table.table-bordered.table-hover.table-striped
      tr
        th ID UNAM
        th Trabajador
        th Categoría
        th Apellidos
        th Nombre
        th Estado
        th(style='width: 70px')
      each item in items
        case item.status
          when 'Aprobada'
            - var classstatus = 'success'
          when 'Confirmar'
            - var classstatus = 'info'
          when 'Rechazada'
            - var classstatus = 'error'
          default
            - var classstatus = 'warning' 
        tr(class = classstatus)
          td
            | #{item.id_unam}
            - var popover_html = ""
            - if(item.card && item.card.number)
              - popover_html += popover('Tarjeta', item.card.number)
            - popover_html += popover('Correo', item.email) + popover('Teléfono', item.phone) + popover('Automóvil', item.car.model) + popover('', item.car.color) + popover('', item.car.plates) + popover('', item.car.year);
            - if(item.adscription === 'Académico')
              - popover_html = popover('División', item.division) + popover('Colegio', item.college) + popover_html
            - each u in users
              - if (u.id === item.approver)
                - popover_html += popover('Autoriza', u.username); break;
            a.btn.btn-mini.btn-block(href='javascript:;', data-content="#{popover_html}", data-original-title="Detalles", data-html='true', data-animation='false', data-trigger='hover', rel='popover') Detalles
            a.btn.btn-mini.btn-block.delivered(class=(item.card && item.card.delivered === true ? 'btn-primary' : ''), data-id='#{item.id}', href='#' )= (item.card && item.card.delivered === true ? 'Entregada' : 'No entregada')
          td= item.adscription
          td= item.category
          td= item.fullname.surname
          td= item.fullname.name
          td= item.status
          td(style='text-align:right')
            a.confirm.btn.btn-block.btn-mini.btn-success(href='/accesos/#{item._id}/status', title='Aprobar solicitud') 
              case item.status
                when 'Aprobada'
                  i.icon-envelope.icon-white 
                  |  Avisar
                when 'Confirmar'
                  i.icon-envelope.icon-white 
                  |  Avisar
                default
                  i.icon-ok-circle.icon-white 
                  |  Aprobar
            - if ( 'Aprobada' !== item.status )
              a.confirm.btn.btn-block.btn-mini.btn-danger(href='/accesos/#{item._id}/revoke', title='Rechazar solicitud')
                i.icon-ban-circle.icon-white 
                |  Rechazar
            | 
            a.btn.btn-block.btn-mini.btn-primary(href="/accesos/#{item._id}")
              i.icon-pencil.icon-white
              |  Editar
            | 
            - if ( 'Aprobada' !== item.status )
              a.confirm.btn.btn-block.btn-mini.btn-danger(href='/accesos/#{item._id}/delete', title='Eliminar solicitud')
                i.icon-trash.icon-white
                |  Eliminar
            - if ( 'Aprobada' === item.status )
              a.btn.btn-block.btn-mini(href='/accesos/#{item._id}/print', title='Imprimir solicitud')
                i.icon-print
                |  Imprimir
            
  - } else {
    p.well.well-large(style="text-align: center")
      | No hay solicitudes para aprobar
  - }