!!! 5
html(lang="es")
  head
    meta(charset='utf-8')
    title Tarjetas de estacionamiento
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='/css/print.css')
  body
    #wrap.container
      .row
        h1.lead
          strong Facultad de Filosofía y Letras
          br
          | Estacionamiento
      .row
        h4 Responsiva tarjeta de estacionamiento
        table.table.table-striped
          tr
            td.span2 
              strong Trabajador:
            td.span10 #{item.adscription}
          tr
            td.span2
              strong Nombre:
            td.span10 #{item.fullname.name} #{item.fullname.surname}
          - if(item.division && item.adscription === 'Académico')
            tr
              td.span2 
                strong División:
              td.span10 #{item.division}
          tr
            td.span2 
              strong Categoría:
            td.span10 #{item.category}
          - if(item.college)
            tr
              td.span2 
                strong Colegio:
              td.span10 #{item.college}
          - if(item.graduate && item.adscription === 'Académico')
            tr
              td.span2 
                strong Posgrado:
              td.span10 #{item.graduate}
          tr
            td.span2 
              strong Placas:
            td.span10 #{item.car.plates}
          tr
            td.span2 
              strong Modelo:
            td.span10 #{item.car.model}
          tr
            td.span2 
              strong Color:
            td.span10 #{item.car.color}
          tr
            td.span2 
              strong Año:
            td.span10 #{item.car.year}

        .well(style='margin-bottom: 100px')
          p 
            strong Nota:
            |  La tarjeta permanente que se le entregará a cambio o a solicitud no tiene costo, pero en caso de extravío, 
            | deberá reportarla en pagaduría y si usted requiere una resposición, el costo de la misma será de $500.00 pesos,
            | monto equivalente sólo al costo de recuperación del plástico.


      .well.well-small.pull-left(style='width: 45%')
        p(style='text-align: center; margin-top: 3em')
          | Número de tarjeta
        p(style='text-align: center; margin-top: 7em')
          | Fecha

      .well.well-small.pull-right(style='width: 45%')
        p(style='text-align: center; margin-top: 3em')
          | Nombre
        p(style='text-align: center; margin-top: 7em')
          | Firma de recibido